<div class="container p-2">
  <div class="row">
    <div class="col-12">
      
        <form class="form-inline">
        <div class="form-group">
          <label class="mr-2"><h4>Please Define Size of tic toc toe</h4></label>
          <input class="form-control mr-2" type="number" [(ngModel)]="sizenumber" name="sizenumber">
          <button class="btn btn-primary btn-lg" (click)="renderTable(sizenumber)">OK</button>
        </div>
      </form>
        <div>
          <button class="btn btn-primary btn-lg"(click)="renderTable(sizenumber)">CPU</button>
          <button class="btn btn-primary btn-lg ml-2"(click)="renderTable(sizenumber)">TWO PLAYER</button>
    
        </div>
    
    </div>
    <div class="col-12 mt-2">
      <table style="border-collapse: collapse; width: 100%; height: 80vh; border: none;">
        <tbody>
          <tr *ngFor="let row of table let i = index"> 
              <td style="padding: 0px 0px 0px 0px; border: 1px solid black; width: 50px; height: 50px; text-align: center; 
              vertical-align: middle;" (click)="turn(i,col)" *ngFor="let col of header">
                <span *ngIf="row[col][col] === true" class="material-icons md-48">close</span>
                <span *ngIf="row[col][col] === false" class="material-icons md-48">trip_origin</span>
              </td>  
          </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
